<!DOCTYPE html>
<html ng-app='myApp'
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	>
<head lang="en">
	<meta charset="UTF-8"></meta>
	<title></title>
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-resource.min.js"></script>
	
</head>
<body ng-controller="controller">
			
	<nav class="navbar navbar-inverse navbar-fixed-top" style="height: 100px">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#myNavbar">
					<span class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="http://localhost:8080/index">Amicom</a>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav">
					<li class="dropdown"><a class="dropdown-toggle"	data-toggle="dropdown" href="#">Main <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="#">About</a></li>
							<li><a href="http://localhost:8080/index">Schedule</a></li>
							<li><a href="http://localhost:8080/normalboard/board/공지사항">공지사항</a></li>
							<li><a href="http://localhost:8080/amicommember/list">인원명단</a></li>
						</ul></li>
					<li class="dropdown"><a class="dropdown-toggle"	data-toggle="dropdown" href="#">Image Gallery <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="http://localhost:8080/imageboard/board/창립제">창립제</a></li>
							<li><a href="http://localhost:8080/imageboard/board/HomeCommingDay">HomeComming Day</a></li>
							<li><a href="http://localhost:8080/imageboard/board/MT">MT</a></li>
						</ul>
					</li>
					<li class="dropdown"><a class="dropdown-toggle"	data-toggle="dropdown" href="#">Study <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="http://localhost:8080/normalboard/board/java">JAVA</a></li>
							<li><a href="http://localhost:8080/normalboard/board/c_language">C언어</a></li>
							<li><a href="http://localhost:8080/normalboard/board/hadoop">Hadoop</a></li>
						</ul>
					</li>					
					
					<li class="dropdown"><a class="dropdown-toggle"	data-toggle="dropdown" href="#">자유계시판 <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="http://localhost:8080/normalboard/board/자유계시판">자유계시판</a></li>
							<li><a href="http://localhost:8080/normalboard/board/아르바이트">아르바이트</a></li>
							<li><a href="http://localhost:8080/normalboard/board/소스">소스</a></li>
						</ul>
					</li>
										
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a><span sec:authentication="principal.user.username"></span></a></li>
					<li><a><span sec:authentication="principal.user.name"></span></a></li>
					<li><a th:href="@{/amicommember/logout}"><span class="glyphicon glyphicon-log-in"></span>
						Logout</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<script>
		var myModule = angular.module('myApp',['ngResource']);
		
		myModule.controller('controller', function($scope, $resource) {
		})
	</script>
</body>
</html>
